In [1]:
import pandas as pd

In [2]:
from sklearn.linear_model import LinearRegression

In [8]:
df=pd.read_csv(r'D:\DUCAT\DS_AI\dataset\regression\salary_1_variable.csv')
df

    YearsExperience  Salary
0               1.1   39343
1               1.3   46205
2               1.5   37731
3               2.0   43525
4               2.2   39891
5               2.9   56642
6               3.0   60150
7               3.2   54445
8               3.2   64445
9               3.7   57189
10              3.9   63218
11              4.0   55794
12              4.0   56957
13              4.1   57081
14              4.5   61111
15              4.9   67938
16              5.1   66029
17              5.3   83088
18              5.9   81363
19              6.0   93940
20              6.8   91738
21              7.1   98273
22              7.9  101302
23              8.2  113812
24              8.7  109431
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872

In [44]:
X=df.iloc[:,0:1].values
y=df.iloc[:,-1].values

In [97]:
from sklearn.model_selection import train_test_split

In [100]:
X_train,X_test,y_train,y_test= train_test_split(X,y)

In [99]:
model=LinearRegression()

In [102]:
model.fit(X_train,y_train)
model.fit(X_test,y_test)

LinearRegression()

In [93]:
from sklearn.metrics import accuracy_score,r2_score

In [111]:
pre_train=model.predict(X_train)
pre_test=model.predict(X_test)

In [120]:
r2_score(y_train,pre_train),r2_score(y_test,pre_test)

(0.9521395714560228, 0.9597121320219237)

In [ ]:
while(True):
    predicted_sal=model.predict([[float(input('enter the employee exprince:'))]])
    print(predicted_sal)

enter the employee exprince: 20

[212859.72224543]

enter the employee exprince: 50

[490021.45880174]

enter the employee exprince: 12

[138949.92583041]

enter the employee exprince: 15

[166666.09948604]

enter the employee exprince: 14

[157427.37493417]

enter the employee exprince: 2

[46562.68031164]

enter the employee exprince: 5

[74278.85396727]

In [119]:
smple=5.5